<footer class="footer has-background-black-ter ">
  <div class="container has-text-centered">
    <p class="has-text-white-ter">&copy;Crystal High-Tech Ltd</p>
    <p class="has-text-grey">
      Main Photo by rawpixel.com from
      <a href="https://www.pexels.com/photo/two-person-shaking-each-others-hands-872957/">Pexels</a>
    </p>
  </div>
</footer>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>